.geographicChartSpace{
	height: 100%;
	border-radius:10px;
	background-color: #D2D2D2;
}

#geographicPageChartRegion{
	width:85%;
	height:85%;
	margin:auto;
	padding-top: 20px;
	border-radius: 10px;
}

.geographicColumn{
	height:100%
}

.geographicRightColumnPieChart{
	height:60%;
	text-align: center;
}

.geographicRightColumnChart{
	height:85%;
	padding-left: 10px;
}

.geographicRightColumnBox{
	height:38%;
}
